@font-face {
    font-family: 'Lyno_walt';
    src: url(lyno_walt.otf);
}
@font-face {
    font-family: 'Lyno_stan';
    src: url(lyno_stan.otf);
}
h1{
    font-family: 'lyno_walt';
    font-size: 70;
    text-align: center;
    color:dodgerblue;
}
h1:hover{
    background: -webkit-linear-gradient(180deg,pink, deeppink,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-family: 'Lyno_stan';
    border: 5px dashed, rgb(83, 80, 255);
    background-color: rgb(255, 255, 91);
    padding: 0.5rem;
    border-radius: 2rem;
}
p{
    font-family: Helvetica, sans-serif;
}
.bold{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(206, 231, 255);
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: rgb(83, 80, 255);
    font-size: larger;
}
a{
    color: rgb(83, 80, 255);
    text-decoration: none;
}
a:hover{
    text-decoration: brown dotted underline;
    color: deeppink;
}
body{
    background-color:ghostwhite;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    border: 15px dotted, dodgerblue;
    padding: 3rem;
    border-radius: 3.5rem;

}
.alignLeft{
    float: left;
}
.alignRight{
    float: right;
}
blockquote{
    font-family: Helvetica, sans-serif;
}


